/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@400;500&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
body {
  font: 16px "Comfortaa", sans-serif;
  background-color: #092a27;
  min-height: 100vh;
  box-sizing: border-box;
  color: #e8c9c9;
  line-height: 1.5;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 350px;
  margin: 0 auto;

}

.snake {
  height: 500px;
  max-width: 500px;
  width: 100%;
  background: center / contain no-repeat url("../assets/snake.png");

  margin-bottom: 50px;
}

.info {
  margin: 0 auto;
}

.title {
  font-family: "Great Vibes", cursive;
  line-height: 1;
  font-size: 55px;
  margin: 60px 0 20px 0;
  text-align: center;
}
.subtitle {
  text-align: center;
  background-color: rgba(35, 133, 148, 0.2);
  border-radius: 15px;
  border-top: 1px double #333;
  border-bottom: 1px double #333;
  padding: 25px;
}
.items {
  display: flex;
  flex-direction: column;
  margin: 0 auto 50px;
  gap: 40px;

}
.item {
  display: flex;
  justify-content: space-between;
  padding: 25px 10px;
  background-color: rgba(35, 133, 148, 0.2);


  border-radius: 15px;
  border-top: 1px double #333;
  border-bottom: 1px double #333;
}
.item_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.item_right {
  text-align: center;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  max-width: 200px;
}
.item_text {

}
.item_name {
  color: #b4bec7;
  line-height: 1.2;
}
.item_first {
  font-size: 16px;

}
.item_second {
  font-size: 9px;
}
.link {
  color: #092a27;
  text-decoration: none;
  font-weight: bold;

}
.contacts {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.contact {
  width: 35px;
  height: 35px;
}

.link_for_sign {
  position: relative;

  background: rgb(37,221,46);
  background: linear-gradient(0deg, rgba(37,221,46,1) 20%, rgba(31,173,114,1) 69%);
  border-radius: 15px;
  padding: 15px 55px;
  border: none;

}
.contact_wapp {
  width: 30px;
  height: 30px;

  position: absolute;
  top: 7px;
  right: 7px;
}

.ava {
  max-height: 130px;
  max-width: 130px;
  width: 100%;
  border-radius: 50%;
}


.confetti_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Слой под контентом */
  pointer-events: none; /* Не блокирует клики */
  overflow: hidden; /* Предотвращает прокрутку снежинок за пределы окна */
}
.iconTree {
  width: 50px;
  height: 40px;
}
#confetti_canvas {
  width: 100%;
  height: 100%;
  display: block; /* Убирает прокрутку вокруг канваса */
}
@media (max-width: 767px) {
  .app {
    margin: 20px 20px;
  }
}

.marquee {
  width: 100%; /* Ширина контейнера */
  overflow: hidden; /* Прячем содержимое за пределами контейнера */
  white-space: nowrap; /* Не переносим текст на новую строку */
  box-sizing: border-box;
  padding: 10px; /* Внутренний отступ */
  position: relative;
  color: #e8cb82;
}

#marquee-content {
  display: inline-block; /* Текст внутри строки */
  position: relative;
  animation: marquee 10s linear infinite; /* Анимация */
}

@keyframes marquee {
  from {
    transform: translateX(100%); /* Начинаем справа */
  }
  to {
    transform: translateX(-100%); /* Заканчиваем слева */
  }
}
.appPlug {
  text-align: center;
  margin: 50px auto;
}
/*!* Для мобильных *!*/
/*@media (max-width: 480px) {*/
/*    .item {}*/
/*}*/